[submodule "lib/rust-myers-diff"]
	path = lib/rust-myers-diff
	url = git@github.com:lei4519/rust-myers-diff.git
[submodule "lib/chrome-cookies-secure"]
	path = lib/chrome-cookies-secure
	url = git@github.com:lei4519/chrome-cookies-secure.git
